body{
    margin: 0%;
    padding:0% ;
    overflow: hidden;
   

    /* background-color: black; */
 
  

    
}

section{ 
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle at 50% 100%,#1C3879,
    #607EAA,
    #7F557D,
    #FF6392,#CCFF66);
    background-size: 200% 500%;
    position:relative;
    animation:change 13s ease-in-out infinite;
    opacity:65 %;
  
    
 }

.container{
    font-family: Arial;
    color:black;
    font-weight: bold;
    /* position: absolute;
    top: 40%;
    left : 25%; */


    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top:35%;
    left:10% ;
    font-size:10vw;

  --animate-duration:3s;
 
  --animate-repeat:infinite;

}
@keyframes change{
    0%{
        background-position:0% 100% ;
        
    }

    

    50%{
        background-position:100% 0% ;
    }

 

    100%{
        background-position:0% 100% ;
    }
}


